/Practica1_Ejercicio2/nbproject/private/
/Practica1_Ejercicio2/build/
/Practica1_Ejercicio4/nbproject/private/
/Practica1_Ejercicio4/build/
/Practica1_Ejercicio5/nbproject/private/
/Practica1_Ejercicio5/build/
/Practica1_Ejercicio05/nbproject/private/
/Practica1_Ejercicio05/build/
/Practica1_Ejercicio6/nbproject/private/
/Practica1_Ejercicio3/nbproject/private/
/Practica1_Ejercicio3/build/
/Practica1_Ejercicio6/build/